body {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    color: whitesmoke;
    text-align: center;
}

.container {
    padding:0
}

#header {
    font-family: Avenir;
    font-size: 60px;
    margin-top: 15px;
}

h1 {
    background-color: white;
    color: black;
    font-family: Avenir;
    margin: 0px;
    padding: 10px;
}

#videos-container h2 {
    background-color: white;
    color: #00c6ff;
    margin: 0px;
    padding: 20px;
    font-size: 30px;
    font-family: Avenir;
}

#videos-container {
    display: flex;
    flex-direction: row;
}

.video-container {
    border: 10px white solid;
    border-radius: 10px;
    margin: 15px 15px;
    text-align: center;
    pointer-events: none;
}

.vjs-control-bar {
    display: none !important;
}

.vjs-big-play-button {
    display: none !important;
}

#feedback {
    font-family: Avenir;
    font-size: 24px;
}

#loading {
    position:absolute;
    top:0;
    width: 0;
    height:0;
    visibility:hidden;
    background-color: rgba(122,122,122,0.7);
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    z-index: 10000000000000;

}

.inactive-loading {
    visibility:visible !important;
    width:100vw !important;
    height:100vh !important;
}

#teacher {
    flex: 1;
}

#student {
    flex: 1;
}

#scrollBar {
    margin-top: 10px;
    display: flex;
    height: 30px;
    position: relative;
}

.ticker {
    align-content: center;
    background-color: green;
    width: 3%;
    height: 100%;
    border: white 1px solid;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.ticker:hover {
    transform: scale(1.2);
}

.time {
    font-size: 24px;
    font-family: Avenir, serif;
    margin-top: 15px;
}

button {
    padding: 0;
    border: none;
    background: none;
    height: 100%;
    width: 100%;
}

button:focus {
    outline: none;
}

.playpause {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
}

.playpause label {
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0 0 0 60px;
}

.playpause input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

.playpause input[type=checkbox]:checked + label {
    border-style: solid;
    border-width: 37px 0 37px 60px;
}
