#videos-container {
    display: flex;
    flex-direction: row;
}

.video-container {
    padding: 10px;
    text-align: center;
}


#teacher {
    flex:1;
}

#student {
    flex:1;
}

#scrollBar {
    display: flex;
    height: 50px;
    background-color: green;
}


.ticker {
    background-color: blue;
    width: 2%;
    height: 100%;
    border: black 1px solid
}
.time {
    font-size: 24px;
    font-family: Avenir;
}

button {
    padding: 0;
    border: none;
    background: none;
    height: 100%;
    width: 100%;
}